@charset "UTF-8";
body{
    
    background: url("../asset/s1.jpg");
    background-size : cover;
}

header{
    height : 78px;
    background-color: rgba(136, 171, 255, 0.3);
    text-align : center;
    
    font-family: "PT Sans Narrow";
}

h1{
    height : 100px;
    margin : 0px;
}
.navtop{
    margin-top : 30px;
}

header a{
    display : block;
    height : 50px !important;
    text-align : center;
    text-decoration : none;
    /* text-shadow: 0px 0 1px rgba(0,0,0,1); */
    color : rgb(255, 255, 255);
    font-size : 2em;
    
}

header a:hover{
    text-decoration : none;
    color : white;
    text-shadow: 0px 0 1px rgba(255, 255, 255,0);
}



li, .col, ul{
    padding : 0px;
}

.icon{
    display : none;
}

@media screen and (max-width: 650px) {

    .navtop li{
      display: none;
    }
    .navtop ul{
        text-align : center;
    }

    .icon {
      display: block;
      margin : auto;
      font-size : 2em;
  }
    .navtop.responsive{
        position : relative;
    }

    .navtop.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }

    .navtop.responsive li{
        float : top;
        display : block;
        width : 100%;
      text-align: left;
      background-color : #0a93f5 ;
      
    }

    
    
  }